<h3>Rooms</h3>
<p>rooms:</p>
<ul>
  <% @rooms.each do |room| %>
  <li><%= room.rate %>$ per night</li>
  <li><%= room.suite %></li>
  <li><%= room.hotel.name %> hotel</li>
  <li><%= room.number_of_guests %> guests have stayed here</li>
  <% end %>
</ul>
